.jumbotron h2 {
    font-size: 36px;
  }

.jumbotron {
    color:black
}

p {
    font-size: 16px;
    /*padding-bottom: 20px;*/
}

.btn {
    font-size: 18px;
}

.paper-title {
    font-size: 24px;
}