body {
    background-color: white;
    /* background-color: #6667AB; */
    /* background-color:rgb(85, 195, 217); */
    /* background-color: beige; */
    /* background-color: blue; */
    /* background-image: url("resources/loaf.png"); */
    /* background-image: url("resources/eye.jpg"); */
    /* background-image: url("resources/ethan_profile_1.jpg"); */
    /* background-image: url("resources/bridge_background.jpeg"); */
    /* background-image: url("resources/blur_background.jpeg"); */
    /* background-size: 110% auto; */

    /* background-size: 200px auto; */
    /* background-color:black; */
    /* font-family: serif; */
    font-family: Helvetica;
}

.content {
    background-color: white;
}