body {
    /* background-color:rgb(252, 184, 124); */
    /* background-color:rgb(255, 237, 123); */
    /* background-color:rgb(161, 223, 187); */
    /* background-color:rgb(161, 223, 187); */
    background-color: rgb(193 235 166);
    /* background-color:rgb(85, 195, 217); */
    /* background-color: beige; */
    /* background-color: blue; */
    /* background-image: url("resources/loaf.png"); */
    /* background-image: url("resources/eye.jpg"); */
    /* background-image: url("resources/ethan_profile_1.jpg"); */
    /* background-image: url("resources/bridge_background.jpeg"); */
    /* background-image: url("resources/blur_background.jpeg"); */
    /* background-size: 110% auto; */
    background-attachment: fixed;

    /* background-size: 200px auto; */
    /* background-color:black; */
    font-family: serif;
    /* font-family: Helvetica; */

    width: 100%;
    position: absolute;
    /* top: 5%; */
    /* left: 5%; */

    /* cursor: crosshair; */
}

p {
    /* width:90%; */
    text-justify: inter-word;
    text-align: justify;
}

img {
    width: 600px;
}

#board {
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    pointer-events:none;

}
#fish_on {
    position: absolute;
    top: 1%;
    left: 80%;
    background-color: red;
    /* z-index:-1; */
}
#profile_pic {
    width: 20%;
    height: auto;
}
.header {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    /* justify-content: center; */
    gap: 5%;
    align-items: center;

    text-justify: inter-word;
    text-align: justify;
}
#name {
    font-size: 400%;
    text-align: left;
}
.project_tab {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    padding: 1%;
}
.project_picture {
    width: 30%;
    height: auto;
}
.project_video {
    width: 30%;
    height: auto;
}
h1 {
    text-align: center;
}

.content {
    width: min(90%, 900px);
    /* width: 90%; */
    position: absolute;
    top: 4%;
    /* left: calc((100% - (min(90%, 1000px)) + 2%) / 2); Subtract padding as well */
    left: 50%;
    transform: translate(-50%, 0);
    background-color:beige;
    /* background-color: whitesmoke; */
    /* background-color:red; */
    /* box-sizing: border-box; */
    padding: 1%;
    /* align-items: center; */
    /* justify-content: center; */
}

.project_page_title {
    font-size: 300%

}

.pdf {
    width: 90%;
    height: 1000px;
    display: block;
    margin: 0 auto;
}

.center{
    display: block;
    margin: 0 auto;
}