body {
    /* background-color:beige; */
    background-image: url("resources/loaf.png");
    background-size: 200px auto;
    /* background-color:black; */
    font-family: serif;
    /* font-family: Helvetica; */

    width: 100%;
    position: absolute;
    /* top: 5%; */
    /* left: 5%; */

    /* cursor: crosshair; */
}

p {
    width:90%;
    text-justify: inter-word;
    text-align: justify;
}

img {
    width: 600px;
}

#board {
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    pointer-events:none;

}
#fish_on {
    position: absolute;
    top: 1%;
    left: 90%;
    background-color: red;
    /* z-index:-1; */
}
#profile_pic {
    width: 30%;
    height: auto;
}
.header {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    /* justify-content: center; */
    gap: 5%;
    align-items: center;

    text-justify: inter-word;
    text-align: justify;
}
#name {
    font-size: 400%;
    text-align: left;
}
.project_tab {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    padding: 1%;
}
.project_picture {
    width: 30%;
    height: auto;
}
.project_video {
    width: 30%;
    height: auto;
}
h1 {
    text-align: center;
}

.content {
    width: min(90%, 1000px);
    position: absolute;
    top: 5%;
    left: 10%;
    background-color:beige;
    /* background-color:red; */
    /* box-sizing: border-box; */
    padding: 1%;
}
